.mb10 {
    margin-bottom: 10px;
}
.ml130 {
    margin-left: 130px;
}

.ml-head {
    margin-left: 10%;
    
}

@media (max-width: 1200px) {
    .ml130 {
        margin-left: 15%;
    }
    .ml-head {
        margin-left: 5%;
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    .ml-head {
        margin-left: 5%;
    }
}

@media (max-width: 576px) {
    .ml130 {
        margin-left: 0;
    }
}