* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    position: relative;
    line-height: 105%;
    background: var(--bg);
}

:root {
    --main: #2d2d2d;
    --black: #000000;
    --white: #FFFFFF;
    --green: #102f28;
    --red: #c73d42;
    --bg: #FFFFFF;
}

body.theme {
    --main: #FFFFFF;
    --white: #2d2d2d;
    --black: #FFFFFF;
    --bg: #0f0f0f;
}

.black {
    display: none ;
}

.theme .black {
    display: block;   
}

.white {
    display: '';
}
.theme .white {
    display: none;
}

ol [class],
ul [class] {
    list-style: none;
    padding: 0;
}

a[class] {
    text-decoration: none;
}

@import 'base/mixins';
@import 'base/*.scss';
@import 'blocks/*.scss';