.top-block {
    position: relative;
    width: 100%;
    overflow: hidden;
}

// .bg-blok_top {
//     width: 100%;
//     display: grid;
//     grid-template: 56px repeat(3, max-content) / 3fr 2fr 4fr 1fr 2fr;
//     position: absolute;
//     z-index: 0;
//     top: 0;
//     left: 0;
// }

// .bg-block_bottom {
//     width: 100%;
//     display: grid;
//     grid-template: max-content 40px max-content 280px max-content max-content / max-content 7fr 25px max-content;
//     position: absolute;
//     bottom: 230px;
//     left: 0;
//     z-index: -1;
// }

// .marble {
//     width: 100%;
//     img {
//         @include img-contain;
//     }
//     &_1 {
//         grid-area: 2 / 3 / 3 / 4;
//         width: 80%;
//         justify-self: center;
//     }
//     &_2 {
//         grid-area: 3 / 1 / 4 / 2;
//     }
//     &_3 {
//         grid-area: 4 / 5 / 5 / 6;
//         transform: translateY(-28px);
//     }
//     &_mob {
//         display: none;
//     }
//     &_4 {
//         grid-area: 1 / 4 / 2 / 5;
//     }
//     &_5 {
//         grid-area: 3 / 1 / 4 / 2;
//     }
//     &_6 {
//         grid-area: 5 / 3 / 6 / 5;
//     }
// }

// @media (max-width: 1600px) {
//     .bg-block_bottom {
//         grid-template: max-content 0 max-content 233px max-content max-content / max-content 1fr 25px max-content;
//     }
//     .marble {
//         &_4 {
//             width: 380px;
//             height: 482px;
//         }
//         &_5 {
//             width: 414px;
//             height: 520px;
//         }
//         &_6 {
//             width: 400px;
//             height: 370px;
//         }
//     }
// }

// @media (max-width: 1200px) {
//     .bg-block_bottom {
//         grid-template: max-content 300px max-content 304px max-content max-content / 4fr 7fr 25px 2fr;
//     }
//     .marble {
//         &_1 {
//             width: 100%;
//             justify-self: flex-end;
//         }
//         // &_5 {
//         //     width: 442px;
//         //     height: 413px;
//         // }
//     }
// }
// @media (max-width: 992px) {
//     .bg-blok_top {
//         grid-template: 60px repeat(3, max-content) / 3fr 4fr 2fr;
//     }
//     .bg-block_bottom {
//         grid-template: max-content 300px max-content 304px max-content max-content / 2fr 2fr 25px 2fr;
//     }
//     .marble {
//         &_1 {
//             grid-area: 2 / 2 / 3 / 3;
//             width: 100%;
//             justify-self: center;
//         }
//         &_2 {
//             grid-area: 3 / 1 / 4 / 2;
//             // width: 90%;
//         }
//         &_3 {
//             grid-area: 4 / 3 / 5 / 4;
//             transform: translateY(-28px);
//         }
//     }
// }

// @media (max-width: 768px) {
//     .bg-blok_top {
//         grid-template: repeat(3, max-content) / 3fr 4fr 1fr 1fr;
//     }
//     .bg-block_bottom {
//         grid-template: max-content 540px max-content 554px max-content max-content / 3fr 1fr 25px 3fr;
//     }
//     .marble {
//         &_1 {
//             grid-area: 2 / 2 / 3 / 4;
//             width: 100%;
//             justify-self: center;
//         }
//         &_2 {
//             grid-area: 3 / 1 / 4 / 2;
//             width: 90%;
//         }
//         &_3 {
//             grid-area: 4 / 3 / 5 / 5;
//             transform: translateY(-28px);
//         }
//         &_5 {
//             grid-area: 3 / 1 / 4 / 4;
//         }
//     }
// }

// @media (max-width: 576px) {
//     .bg-blok_top {
//         width: 100%;
//         display: grid;
//         grid-template: 627px max-content / 1fr max-content;
//         position: absolute;
//         z-index: 0;
//         top: 0;
//         left: 0;
//     }

//     .bg-block_bottom {
//         grid-template: max-content 780px max-content 1100px / 135px 1fr 80px;
//     }
//     .marble {
//         &_1 {
//             display: none;
//         }
//         &_2 {
//            display: none;
//         }
//         &_3 {
//             display: none;
//         }
//         &_mob {
//             grid-area: 2 / 2 / 3 / 3;
//             display: block;
//         }
//         &_4 {
//             grid-area: 1 / 2 / 2 / 4;
//         }
//         &_5 {
//             grid-area: 3 / 1 / 2 / 3;
//         }
//         &_6 {
//             display: none;
//         }
//     }
// }